<div class="w- max-w-[1344px] mx-auto flex flex-col items-center my-20">
  <img src="./assets/logo.svg" alt="Logo nlw Esport">

  <h1 class="text-6xl text-white font-black mt-20">
    Seu <span class="text-transparent bg-nlw-gradient bg-clip-text">duo</span> está aqui.
  </h1>

  <div class="grid grid-cols-6 gap-6 mt-16">
    <a href="" class="relative rounded-lg overflow-hidden">
      <img src="./assets/game-1.png" alt="LoL">

      <div class="w-full pt-16 pb-4 px-4 bg-game-gradient absolute bottom-0 left-0 right-0">
        <strong class="font-bold text-white block">League Of Legends</strong>
        <span class="text-zinc-300 text-sm block mt-1">4 anúncios</span>
      </div>
    </a>

    <a href="" class="relative rounded-lg overflow-hidden">
      <img src="./assets/game-2.png" alt="Dota">

      <div class="w-full pt-16 pb-4 px-4 bg-game-gradient absolute bottom-0 left-0 right-0">
        <strong class="font-bold text-white block">Dota 2</strong>
        <span class="text-zinc-300 text-sm block mt-1">4 anúncios</span>
      </div>
    </a>

    <a href="" class="relative rounded-lg overflow-hidden">
      <img src="./assets/game-3.png" alt="CS-GO">

      <div class="w-full pt-16 pb-4 px-4 bg-game-gradient absolute bottom-0 left-0 right-0">
        <strong class="font-bold text-white block">CS-GO</strong>
        <span class="text-zinc-300 text-sm block mt-1">4 anúncios</span>
      </div>
    </a>

    <a href="" class="relative rounded-lg overflow-hidden">
      <img src="./assets/game-4.png" alt="Apex">

      <div class="w-full pt-16 pb-4 px-4 bg-game-gradient absolute bottom-0 left-0 right-0">
        <strong class="font-bold text-white block">Apeg Legend</strong>
        <span class="text-zinc-300 text-sm block mt-1">4 anúncios</span>
      </div>
    </a>

    <a href="" class="relative rounded-lg overflow-hidden">
      <img src="./assets/game-5.png" alt="Fortnite">

      <div class="w-full pt-16 pb-4 px-4 bg-game-gradient absolute bottom-0 left-0 right-0">
        <strong class="font-bold text-white block">Fortnite</strong>
        <span class="text-zinc-300 text-sm block mt-1">4 anúncios</span>
      </div>
    </a>

    <a href="" class="relative rounded-lg overflow-hidden">
      <img src="./assets/game-6.png" alt="World of WarCraft">

      <div class="w-full pt-16 pb-4 px-4 bg-game-gradient absolute bottom-0 left-0 right-0">
        <strong class="font-bold text-white block">World of WarCraft</strong>
        <span class="text-zinc-300 text-sm block mt-1">4 anúncios</span>
      </div>
    </a>
  </div>

  <div class="pt-1 bg-nlw-gradient self-stretch rounded-lg mt-8 overflow-hidden">
    <div class="bg-[#2A2634] px-8 py-6 flex justify-between items-center">
      <div>
        <strong class="text-2xl text-white font-black block">Não encontrou seu duo?</strong>
        <span class="text-zinc-400 block">Publique um anúncio para encontrar novos players!</span>
      </div>
      <button class="py-3 px-4 bg-violet-500 hover:bg-violet-600 text-white rounded 
              flex items-center gap-3">
        <img src="./assets/magnifyingGlassPlus.svg" alt="Icon MagnifyingGlassPlus">
        Publicar anúncio
      </button>
    </div>
  </div>

</div>

<!-- <router-outlet></router-outlet> -->