<div>
  <h1 mat-dialog-title class="text-3xl font-black">Publique um anúncio</h1>

  <div mat-dialog-content>
    <form [formGroup]="form" class="mt-8 flex flex-col gap-4">
      <!-- game -->
      <div>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label class="font-semibold">Selecione o game que deseja jogar</mat-label>
          <mat-select formControlName="game">
            <mat-option *ngFor="let game of games$ |async" [value]="game.id">
              {{ game.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- name -->
      <div>
        <app-form-input-field formControlName="name"  label="Seu nome (ou nickname)"
                              placeholder="Como te chamam dentro do game?">
        </app-form-input-field>
      </div>

      <div class="grid grid-cols-2 gap-6">
        <div class="flex flex-col-2">
          <!-- yearsPlaying -->
          <app-form-input-field formControlName="yearPlaying" label="Joga há quantos anos?"
                                placeholder="Tudo bem ser ZERO">
          </app-form-input-field>
        </div>

        <!-- discord -->
        <div class="flex flex-col-2">
          <app-form-input-field formControlName="discord" label="Qual seu Discord?"
                                placeholder="Usuario#0000">
          </app-form-input-field>
        </div>
      </div>

      <div class="flex gap-6">
        <div class="flex flex-col gap-2">
          <!-- weekDays -->
          <label class="font-semibold">Quando costuma jogar?</label>
          <mat-button-toggle-group name="weekDays" aria-label="Dias da Semana"
          #weekDaysSelect="matButtonToggleGroup" formArrayName="weekDays" multiple>
            <mat-button-toggle [ngClass]="isChecked(btnD)" value="0" title="Domingo" ="" #btnD> D
            </mat-button-toggle>
            <mat-button-toggle [ngClass]="isChecked(btnS)" value="1" title="Segunda" #btnS> S
            </mat-button-toggle>
            <mat-button-toggle [ngClass]="isChecked(btnT)" value="2" title="Terça" #btnT> T
            </mat-button-toggle>
            <mat-button-toggle [ngClass]="isChecked(btnQua)" value="3" title="Quarta" #btnQua> Q
            </mat-button-toggle>
            <mat-button-toggle [ngClass]="isChecked(btnQui)" value="4" title="Quinta" #btnQui> Q
            </mat-button-toggle>
            <mat-button-toggle [ngClass]="isChecked(btnSex)" value="5" title="Sexta" #btnSex> S
            </mat-button-toggle>
            <mat-button-toggle [ngClass]="isChecked(btnSab)" value="6" title="Sabado" #btnSab> S
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <!-- hourStart hourEnd-->
        <div class="flex flex-col gap-2 flex-1">
          <label class="font-semibold">Qual horário do dia?</label>
          <div class="grid grid-cols-2 gap-2">
            <input formControlName="hourStart" type="time" placeholder="De"
                   class="bg-[#797979] rounded pl-2">
            <input formControlName="hourEnd" type="time" placeholder="Até"
                   class="bg-[#797979] rounded pl-2">
          </div>
        </div>
      </div>

      <!-- useVoiceChannel -->
      <div class="mt-2 flex gap-2 text-sm">
        <mat-checkbox formControlName="usaVoiceChannel" color="primary">
          Costume me conectar ao chat de voz
        </mat-checkbox>
      </div>
    </form>
  </div>

  <!-- Botoes -->
  <div mat-dialog-actions align="end" class="mt-4">
    <button mat-button (click)="onNoClick()"
            class="bg-zinc-500 hover:bg-zinc-600 py-3 px-5 h-12 font-semibold">
      Cancelar
    </button>
    <button mat-button (click)="onSubmit()" class="bg-violet-500 hover:bg-violet-600 px-5 py-3 h-12
             font-semibold custon">
      <!-- <img src="./assets/gameController.svg" alt="Icon controller"> -->
      Encontrar duo
    </button>
  </div>
</div>
